/* universal
  ------------------------- */
body, html {
  height: 100%;
  width: 99%;
  font-family: "system-ui", sans-serif;
}

h1 {
  margin: 0 0 2rem 0;
  text-decoration: none;
}

h2 {
  margin: 0 0 .8rem 0;
}

h3 {
  font-size: 1.2rem;
}

button {
  margin: 1rem .5rem 3rem .5rem;
}

a {
  color: #398FF6;
}

a:hover {
  color: #3069D2;
}

.no-decoration a:focus, a:hover, a:active {
  text-decoration: none;
}


/* tables
  ------------------------- */
table {
  margin: 2rem 0;
}


/* footer
  ------------------------- */
footer, footer a {
  padding: 2rem 0;
  background-color: #343A40;
  color: #ffffff;
}

#copyright {
  margin-bottom: 2rem;
}

.footer-list {
  display: inline;
  margin-right: 2rem;
  font-size: 2.5rem;
}

#github a:focus, #github a:hover, #github a:before {
  color: #800080;
}

#mail a:focus, #mail a:hover, #mail a:before {
  color: #4077B5;
}

#linkedin a:focus, #linkedin a:hover, #linkedin a:before {
  color: #0077B5;
}
